---
import { Icon } from "astro-icon/components";
const { name, src } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-2">
  <Icon
    name={src}
    class="w-10 h-10 sm:w-12 sm:h-12 md:w-10 md:h-10"
  />
  <p class="text-xs text-center font-semibold font-poppins text-gray-500">{name}</p>
</div>
