---
import ViewContainer from "../../ui/ViewContainer.astro";
import PageHeader from "../../ui/PageHeader.astro";
import SocialMedia from "../profile/social-media/SocialMedia.astro";
import { getCollection } from "astro:content";

const profileInformation = await getCollection("profileInformation");
const profile = profileInformation[0];
---

<ViewContainer id="contact-content" hidden={true}>
  <div class="flex flex-col md:flex-row gap-6">
    <div class="w-full flex flex-col gap-y-8 relative">
      
      <PageHeader title="Contact" description="Let's connect. I'm always open to discussing new ideas, potential projects, or just chatting about tech and web design. Brew a coffee and send a message my way." />
      
      <SocialMedia socialMedia={profile.data.socialMedia} />

      <div class="px-0 md:px-3">
        <form action="" method="post"class="flex flex-col gap-6">
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
            <div class="flex flex-col gap-2">
              <label for="email" class="text-xs font-poppins text-gray-600"
                >Your email</label
              >
              <input
                type="email"
                id="email"
                class="border bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder="name@mail.com"
                required
              />
            </div>

            <div class="flex flex-col gap-2">
              <label for="subject" class="text-xs font-poppins text-gray-600"
                >Subject</label
              >
              <input
                type="text"
                id="subject"
                class="border border-gray-300 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder="Let me know how can i help you"
                required
              />
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <label for="message" class="text-xs font-poppins text-gray-600"
              >Your message</label
            >
            <textarea
              id="message"
              rows="6"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Leave a comment..."></textarea>
          </div>

          <button
            type="submit"
            class="py-3 px-5 text-sm font-medium text-center text-white cursor-pointer rounded-lg bg-gray-800 sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300"
            >Send message</button
          >
        </form>
      </div>
    </div>
  </div>
</ViewContainer>
